@media screen and (min-width:1980px)  {
.container {
	width: 1980px;
}
menu ul li a {
	font-size: 27px;
}
.info .subscribers {
	font-size: 41px;
}
.info .subscribers {
	font-size: 26px;
}
#email {
	font-size: 23px;
	margin-top:-15px;
}
.enter {
	font-size: 24px;
}
.main-news .user, .main-news .clock {
	font-size: 24px;
}
.main-news a {
	font-size: 58px;
}
.main-news .text {
	font-size: 25px;
}
.main-news .bottom a {
	font-size: 21px;
}
.main-news .bottom .right span {
	font-size: 22px;
}
.main-news .bottom .chat {
	width: 49px
}
.main-news .bottom .eye {
	font-size: 58px;
}
.wrap-news main .photo-wrap .user, .wrap-news main .photo-wrap .clock {
	font-size: 25px;
}
.wrap-news main .text h3 a {
	font-size: 34px;
}
.wrap-news main .text .text-info {
	font-size: 25px;
}
.wrap-news main .text .bottom a {
	font-size: 23px;
}
.wrap-news main .text .bottom .right span {
	font-size: 24px;
}
.wrap-news main .text .bottom .eye {
	width: 62px;
}
.wrap-news aside .title {
	font-size: 34px;
}
.wrap-news aside ul li a {
	font-size: 24px;
}
.wrap-news aside .all-themes {
	font-size: 25px;
}
.wrap-news main .prev {
	font-size: 25px;
}
footer .logo-text, footer .quest {
	font-size: 24px;
}
footer .title {
	font-size: 29px;
}
footer .list a {
	font-size: 22px;
}
footer .whom {
	font-size: 24px;
}
footer .num {
	font-size: 33px;
}
.copyright {
	font-size: 21px;
}
menu ul {
	float: left;
	margin-left: -105px;
}
.wrap-news main .text .bottom .chat {
	font-size: 52px;
	width: 50px;
}
.forum-lvltwo .freedom .left {
  width: 50%;
  padding-left:35px;
}
.forum-lvltwo .freedom .right {
  width: 50%;
  padding-left:35px;
}
.forum-lvltwo .list-freedom {
  font-size: 1.125em;
}

menu.fixed .what-search {width: 500px}
menu .search-btn {right: -330px;}
.themes-messages .message-wrap .message {
	width: 85%;
}
.themes-messages .message-wrap .person-info  {
	width: 15%;
}
}
@media screen and (max-width:1200px)  {
.logo {
	padding: 0;
	text-align: center;
	margin: 10px 0;
}
menu ul, .search-icon,.enter {
	margin: 0;
}
menu ul {
	margin-top: 5px;
}
.enter {
	margin-top: -10px;
	margin-bottom: 5px;
}
.nopad-l-m {
	padding-left: 0;
}
.info .number {
	padding-left: 30px;
}
.info .number.pad-m {
	padding-left: 0;
}
footer {
	text-align: center;
}
footer .quest .quest-mail {
	/*background: url(../img/message-icon1.png) no-repeat left+140px center;*/
	width: 160px;
}
footer .pad-r {
	padding-right: 15px
}
footer .fot div:nth-child(1), footer .fot div:nth-child(2){
  margin-bottom: 20px;
}
menu.fixed .forfix {
	width: 10%;
	display: inline-block;
	position: relative;
}
menu.fixed .nav {
	width: 70%;
	display: inline-block;
	position: relative;
	margin-left: -50px;
}
menu.fixed .what-search {
  width: 200px;
}
menu.fixed .logo {padding:7px 0 0 0;}

.forum-lvltwo .forum-title .forum-name {
	float: none;
	text-align: center;
	margin-bottom: 20px;
}
.forum-lvltwo .forum-title .pagination {
	width: 100%;
}
.themes-topic table .title-theme {
	float: none;
}
menu .search-btn {right: -25px}
menu ul li { margin-right: 17px; }
.nav {
	padding-left: 35px;
}
.persSet {
	margin: 0;
	padding: 5px 15px;
}
}
@media screen and (max-width:992px)  {
.wrap-news {
	margin-top: -200px;
}
.info .number{
	font-size: 21px;
}
.info .subscribers {
	font-size: 14px;
}
.info {min-height: 62px;}
#email {
	padding: 20px;
}
/* menu mobile*/
	.nav {
		position: relative;
		min-height: 45px;
		margin-bottom: 10px;
		padding-left: 35px;
	}
	.nav ul {
		width: 100%;
		min-height: 45px;
		min-width: 125px;
		max-width: 125px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 35px;
		border: solid 1px #aaa;
		background: #FAFAFA url(../img/icon-menu.png) no-repeat 10px 15px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
		z-index: 99;
	}
	.nav li {
		display: none; /* скрыть все <li> пункты */
		margin: 0;
		width: 100%;
	}
	.nav .current {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.nav a {
		display: block;
		padding: 7px 5px 5px 5px;
		text-align: center;
	}
	.nav .current a {
		background: none;
		color: #666;
		padding-left: 40px;
		text-align: left;
	}

	/* при наведении на пункты меню */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}
	menu ul {
		margin-top: 0;
	}
	.enter {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.search-icon {
		margin-top: 14px;
	}
	.wrap-news main, .wrap-news aside {
		width: 100%;
	}
	.wrap-news aside {
		margin-top: 40px;
	}
	.wrap-news aside .rubric {
		width: 49.2%;
		float: left;
	}
	.wrap-news aside .forum{
		width: 49.2%;
		float: right;
		margin-top: 0;
	}
	.wrap-news aside .all-themes {
		float: right;
		width: 49.2%;
	}
	menu ul li a.article {
		background: url(../img/arrow-bottom.png) no-repeat center right+10px;
	}

menu.fixed .forfix {
	width: 10%;
	display: inline-block;
	position: relative;
}
menu.fixed .nav {
	width: 20%;
	display: inline-block;
	position: relative;
	margin-left: 150px;
	margin-top:-15px;
}
menu.fixed .forfixsearch {
	width: 30%;
	margin-left: 150px;
}
menu.fixed .what-search {
  width: 200px;
  float: right;
}
menu.fixed .logo {padding:7px 0 0 0;}
.wrap-news-title {
	padding: 0 40px;
}
.forum-lvltwo .list-freedom .list {width: 100%;}
.forum-lvltwo .list-freedom .freedom {
	width: 100%;
	margin-top:10px;
}
.info .subscribers {font-size: 13px;}
.library .search .form input {
	width: 40%;
}
.bosch .list-crit,
.bosch .common-info {
	width: 100%;
  	padding: 30px 50px 50px;
  	border: 0;
  	display: block;
}
.bosch .list-crit .to-list {
	position: relative;
	bottom: 0;
}
.bosch .words { display: block; }
}
@media screen and (max-width:768px)  {
	#email {
		margin-top: 0;
	}
	.info .number.pad,.info .number {
		padding-left: 15px;
	}
	.friend {
		padding-top: 10px;
	}

	.wrap-news aside .forum, .wrap-news aside .rubric {
		width: 100%;
		float: left;
		margin-top: 0;
	}
	.wrap-news aside .forum {
		width: 100%;
		margin-top: 20px;
	}
	.wrap-news aside .all-themes {
		width: 100%;
	}
	.wrap-news {
		margin-top: 0px;
	}
menu.fixed .forfix {
	width: 10%;
	display: inline-block;
	position: relative;
}
menu.fixed .nav {
	width: 40%;
	display: inline-block;
	position: relative;
	margin-left: 30%;
	margin-top:-15px;
}
menu.fixed .forfixsearch {
	width: 40%;
	margin-left: 150px;
	display: none;
}
menu.fixed .what-search {
  width: 250px;
  float: right;
}
menu.fixed .logo {padding:7px 0 0 0;}
.search-icon {float: right;}
.wrap-news-detail .comment .form input, .wrap-news-detail .comment .form textarea {
	width: 100%;
	margin-bottom: 20px;
}
.wrap-news-detail .comment .form input:nth-child(2) {
	margin-left:0;
}
.wrap-news-detail {
  margin-top: -311px;
}
.wrap-news-title {
	padding:0;
}
.wrap-news-title .title {
	padding:20px 0 0 0;
}
.wrap-news-detail .text,.wrap-news-detail .bottom,.wrap-news-detail .comment,.comments {
	padding:30px 10px;
}
.similar-articles ul li {
	width: 100%;
	margin-bottom:15px;
}
.wrap-news-detail .bottom .left,.wrap-news-detail .bottom .right {
	clear: both;
	float: none;
	width: 100%;
}
.wrap-news-detail .bottom {
	text-align: center;
}
.wrap-news-detail .bottom  .right img  {
      margin-top: 0;
}
.forum-main .last-info article {width: 100%;}
.forum-main nav ul {padding-left: 15px;}
.forum-main .last-info article .note {text-align: center;}
.forum-lvltwo .forum-title .pagination ul li a {
	display: block;
}
.forum-lvltwo .forum-title .pagination .show, .forum-lvltwo .forum-title .pagination ul {
	float: none;text-align: center;
}
.forum-lvltwo .forum-title .pagination ul {
	margin-top: 10px;
}
.forum-lvltwo .forum-title .pagination ul li {
	float: none;
	display: inline-block;
}
.forum-lvltwo .important-info .title {
	text-align: center;
}
.themes-topic table i {
	display: none;
}
.themes-topic table tr td:nth-child(3) {
	display: none;
}
.themes-topic table tr td:nth-child(5) {
	display: none;
}
.forum-lvltwo .info-setting .title {text-align: center;}
.forum-main article::after {
	right: 20px;
}
.themes-topic table tr:not(.header) td {
	padding: 20px 7px;
}
.themes-topic table tr td:not(first-child) {
	padding: 0 5px;
}
.themes-topic table tr td:first-child {
	padding-left: 0;
}
.info .send-email {top:0;}
.modal-auth-wrap .modal {
	width: 100%;
	padding: 30px 10px;
}
.modal-auth-wrap .modal .enter-soc {text-align: center;}

.contacts .contact {
	padding: 15px;
}

.contacts .contact .form {
	padding: 15px;
}
.contacts .contact .form input {
	width: 100%;
	margin-bottom: 10px;
}
.themes-messages .message-wrap .message {
	width: 100%;
}
.themes-messages .message-wrap .person-info  {
	width: 100%;
	text-align: center;
}
.themes-messages .message-wrap .person-info .avatar {
	margin: 0 auto;
}
.dropdown-wrap {
	width: 100%;
}
.words .info-word .criteria .visible-criteria {
	width: 100%;
}
.words .info-word .criteria .visible-criteria ul {
	background: #fff;
}
.specification .checkboxes {
  width: 100%;
  display: block;
}
.specification .checkboxes .checkboxes-row {
  display: block;
  width: 100%;
  padding: 0;
}
.specification .checkboxes div {
  display: inline-block;
  width: 49%;
}
.words .info-word {
	padding: 30px 5px 50px;
}
.library .search {
	padding: 45px 5px 0 5px;
}
.specification {
	padding: 20px 5px;
}

.library .search .form input {
	width: 100%;
}
.producers .search .dropdown-wrap {
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
}
.library .search .form button:not(.arrow-dropdown) {
	margin-top: 15px;
}
.producers .list-crit ul li {
	width: 60%;
	display: block;
}
.producers .list-crit {
	padding: 30px 5px 50px;
}
.bosch .list-crit,
.bosch .common-info {
  	padding: 30px 10px 50px;
}
.editPD .right span {
  width: 100%;
}
.editPD .right input,
.editPD .right textarea {
  width: 100%;
}
}